.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 778px;
  min-width: 1100px;
  background: url("../img/header-backgrouund.png") no-repeat 100% 100%;
  background-position: center center;
}
.header .lside {
  flex: 1;
  text-align: left;
  margin-left: 10%;
}
.header .lside .logo img {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.header .lside .logo .logo-text {
  height: 82px;
  font-size: 40px;
  vertical-align: top;
  color: #fff;
  line-height: 100px;
  background: #004986;
}
.header .lside .title {
  margin: 20px auto 40px auto;
}
.header .lside .title img {
  width: 80%;
  height: 80%;
}
.header .lside .form-wrapper {
  margin: 10%;
  display: flex;
  justify-content: center;
  width: 60%;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.3);
  height: 2em;
  border-radius: 10px;
  border: 10px solid rgba(255,255,255,0.3);
}
.header .lside .form-wrapper .header-input {
  flex: 0 0 85%;
  padding-left: 1em;
  border: 0;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.header .lside .form-wrapper .search-btn {
  flex: 1;
  background-color: #fea600;
  background-image: url("../img/icon_search.png");
  background-position: center;
  border-radius: 0 5px 5px 0;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
}
.header .rside {
  flex: 1;
  height: inherit;
}
.header .rside .passage {
  width: 70%;
  height: 100%;
  background: rgba(255,255,255,0.6);
}
.header .rside .passage .title {
  text-align: center;
  padding-top: 80px;
  font-size: 2em;
}
.header .rside .passage .pas {
  padding: 2em;
}
.header .rside .passage .text {
  font-size: 1.3em;
  line-height: 1.5;
}
.header .rside .passage .time {
  color: #f00;
  text-align: center;
}
.header .rside .passage .number {
  text-align: center;
}
.content {
  margin: 25px auto;
}
.content .test-list {
  margin-left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.content .test-list .item {
  width: 173px;
  height: 104px;
}
.content .test-list .item .content-wrapper {
  margin: 18px auto;
  color: #fff;
  width: 70%;
  text-align: center;
}
.content .test-list .item .content-wrapper span {
  margin-top: 10px;
  display: block;
}
.content .test-list .item:nth-child(1) {
  background-color: #fea300;
}
.content .test-list .item:nth-child(2) {
  background-color: #26add2;
}
.content .test-list .item:nth-child(3) {
  background-color: #00c9a5;
}
.content .test-list .item:nth-child(4) {
  background-color: #0041a0;
}
.content .test-list .item:nth-child(5) {
  background-color: #8496bb;
}
.content .test-side {
  display: flex;
}
.content .test-side .item {
  margin: 18px;
  height: 500px;
}
.content .test-side .item .title {
  position: relative;
}
.content .test-side .item .title .parallelogram {
  width: 150px;
  color: #fff;
  background-color: #008ace;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  transform: skew(-45deg) translate(20px);
}
.content .test-side .item .title .parallelogram .title-content {
  padding: 0.2em;
  transform: skew(45deg);
}
.content .test-side .item .title .bar {
  position: absolute;
  top: 2px;
  left: 20%;
  width: 80%;
  height: 14px;
  z-index: -1;
  background-color: #94c4e6;
}
.content .test-side .item .title .triangle-topleft {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 30px solid #94c4e6;
  border-right: 30px solid transparent;
}
.content .test-side .lside {
  flex: 1;
}
.content .test-side .lside .content {
  border: 2px solid #94c4e6;
  border-radius: 5px;
  height: 370px;
  padding: 16px;
  font-size: 1.3em;
  line-height: 1.5;
}
.content .test-side .rside {
  flex: 1;
}
.content .test-side .rside .content-wrapper {
  border: 2px solid #94c4e6;
  border-radius: 5px;
  height: 370px;
  padding: 16px;
  font-size: 1.3em;
  line-height: 1.5;
}
.content .test-side .rside .content-wrapper .login-form {
  display: block;
  margin: 0 auto;
  width: calc(100% - 150px);
}
.content .test-side .rside .content-wrapper .login-form form-item {
  width: 80%;
}
